<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19610/TestWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TestWebServiceSoap"
                contract="WS.SR.TestWebServiceSoap" name="TestWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>