<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IService2">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:13141/Service1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="Service1.SR.IService1"
                name="NetTcpBinding_IService1" />
            <endpoint address="net.tcp://localhost:13141/Service2" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService2" contract="Service2.SR.IService2"
                name="NetTcpBinding_IService2" />
        </client>
    </system.serviceModel>
</configuration>